body{
    opacity: 0;
    transition: .3s;
    width: 100%;
    min-height: 100vh;
    background: rgb(7, 75, 75);
}
*:not(ul, ol){
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

div.btn[disabled]{
    cursor: not-allowed;
}

div.btn[disabled]:hover{
    background: none;
}

.app{
    padding: 90px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    border: 0 solid transparent;
    transition: .2s;
    display: flex;
    align-items: center;
    position: relative;
    border-left: 32px solid transparent;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 8px solid transparent;
    margin: -3px 0 -4px -32px;
}

.inputs .delInputs {
    position: relative;
    height: 30px;
    width: 16px;
    margin-right: -16px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: .2s;
}

.inputs .delInputs .material-icons {
    padding: 0;
    margin: 0;
    font-size: 16px;
    margin-top: 9px;
}

.inputs:hover .delInputs {
    opacity: 1;
}

.inputs:hover{
    background: #0002;
}



/* --------------------------------- */
/* ESTILOS PARA CADA INPUT IDIVIDUAL */
/* --------------------------------- */

.inputs input, .inputs select{
    margin: 0 5px;
    background: none;
    border: none;
    border-radius: 0;
    font-size: 14px;
    padding: 5px 8px 5px 3px;
    color: white;
    border-bottom: 2px solid white;
}

.inputs .chapterInput, .inputs .verseInput{
    width: 3em; 
}

input::placeholder {
    color: #fff6;
    transition: .2s;
}
input:hover::placeholder {
    color: #ffff;
}

.inputs .chapterInput::placeholder{
    width: 26px;
}

.inputs .verseInput::placeholder{
    width: 28px;
}

.inputs input:focus, .inputs select:focus, .inputs input:focus-visible, .inputs select:focus-visible{
    border-radius: 0;
    outline: none;
    background: #0002;
}



/* -------------------- */
/* ESTILOS PARA BOTONES */
/* -------------------- */

.btns{
    display: flex;
    margin-top: 10px;
    width: 380px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btns > *{
    margin-bottom: 7px;
}

.btns .btn{
    width: 48%;
    text-align: center;
    border: 2px solid rgb(10, 141, 141);
    padding: 6px 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    box-sizing: border-box;
}

.btns .tutorialBtn{
    width: 100%;
    padding: 6px 0;
    transition: .5s;
}

.btns .tutorialBtn.big{
    margin-top: 30px;
    background: rgb(141 10 10);
    border-color: rgb(141 10 10);
    margin-bottom: 0;
}

.btns .tutorialBtn.big:hover{
    background: rgb(141 10 10);
    border-color: rgb(141 10 10);
}

.btns .tutorialBtn::before{
    content: "";
    position: absolute;
    width: calc((100vw - 380px) / 2 - 100vw * (5/100));
    height: 100%;
    right: calc(378px - ((100vw - 380px) / 2 - 100vw * (5/100)));
    top: -2px;
    z-index: -1;
}

.btns .tutorialBtn.big::before{
    background: rgb(141 10 10); 
    border: 2px solid rgb(141 10 10);
    animation: a ease-in-out .5s;
}

.btns .tutorialBtn.big.finish::before{
    right: 374px;
}

@keyframes a {
    100%{
        right: 374px;
    }
}

.btns .tutorialBtn::after{
    content: "";
    position: absolute;
    width: calc((100vw - 380px) / 2 - 100vw * (5/100));
    height: 100%;
    left: calc(378px - ((100vw - 380px) / 2 - 100vw * (5/100)));
    top: -2px;
    z-index: -1;
}

.btns .tutorialBtn.big::after{
    background: rgb(141 10 10); 
    border: 2px solid rgb(141 10 10);
    animation: b ease-in-out .5s;
}

.btns .tutorialBtn.big.finish::after{
    left: 374px;
}

@keyframes b {
    100%{
        left: 374px;
    }
}

.btns .okBtn{
    background: rgb(10, 141, 141);
}

.btns .btn:hover{
    background: rgb(10, 141, 141);
}

.btns .btn:active{
    background: rgb(9, 124, 124);
}


/* ---------------- */
/* PARA EL TUTORIAL */
/* ---------------- */

.tutorial{
    /* margin: 0 calc(50vw - (475px / 2)); */
    margin: 0 5%;
    border: 2px solid rgb(10, 141, 141);
    border-bottom: none;
    padding: 13px 10px;
    opacity: 0;
    transition: .5s;
}

.tutorial h2{
    font-size: 1.6em;
    text-decoration: underline;
}

.tutorial-steps-list{
    margin-top: 25px;
}

.tutorial-step{
    margin-top: 15px;
}

.tutorial-step::marker{
    font-size: 90%;
    font-weight: bold;
}

.tutorial-step-title{
    font-size: 1.1em;
}

.tutorial-step-body{
    display: flex;
}

.tutorial-step-text{
    font-size: 0.9em;
}

.tutorial-step img{
    margin-left: 10px;
    max-height: 6em;
}

.loading-spinner{
    /* display: none; */
    margin: 0 auto;
    width: 30px; height: 30px;
    border-radius: 50%;
    border: 5px solid rgb(8, 99, 99);
    border-top: 5px solid rgb(10, 141, 141);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}