:root{
    --verde: linear-gradient(141deg, rgba(32,105,32,1) 0%, rgba(58,189,58,1) 100%);
    --fondo: rgba(0, 0, 0, 0.363);
    --letras: rgb(226,226,226);
}

.popup{
    position: absolute;
    z-index: 500;
    color: var(--letras);
}

.popup::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--fondo);
}

.popupContainer{
    position: fixed;
    width: 130px;
    min-height: 130px;
    background: var(--verde);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin: -65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 4px #0005;
}

.loadingPopupContainer{
    position: fixed;
    width: 130px;
    height: 130px;
    background: rgb(48, 48, 48);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin: -65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closePopupBtn{
    position: relative;
    left: 50px;
    top: 5px;
    cursor: pointer;
    font-size: 17px;
}

.popupIcon{
    font-size: 45px;
    margin-top: 10px;
}

.loadingPopUp .popupIcon{
    margin: 20px 0 20px 0;
    height: 50px; 
}

.popup-loading-spinner{
    width: 30px; height: 30px;
    border-radius: 50%;
    border: 6px solid rgb(68, 68, 68);
    border-top: 6px solid var(--letras);
    animation: spin 1.4s linear infinite;
}

.popupTextContainer{
    text-align: center;
    padding: 0 5px;
}

.popupText{
    margin-bottom: 6px;
    font-size: 19px;
}

.popupBody{
    margin-bottom: 6px;
    font-size: 15px;
}

.retryBtnContainer{
    padding: 5px 14px;
    border-radius: 7px;
    margin: 6px 0;
    border: 1px solid var(--letras);
    transition: .3s;
    cursor: pointer;
}

.retryBtnContainer:hover{
    background: var(--letras);
}

.retryBtnContainer:hover .retryBtn p{
    color: #f44;
}

.retryBtn{
    font-weight: bold;
    font-size: 14px;
}

.spinner {
    animation: rotate 2s linear infinite;
    width: 50px;
    height: 50px;
}

.spinner .path {
    stroke: var(--letras);
    animation: dash 1.5s ease-in-out infinite;
}
  
@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
@keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }